
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <div>
       <h1>Contact Us!</h1> 
        <p>
            Phone - +91 876543219
            Email - happycart@hotmail.com
        </p>
    </div>
</body>
</html>
