
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Service</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="container">
            <div class="jumbotron">
                <h2>Electonics Service Section</h2>
            </div>
            <div class="container">
                <h2>Happy Cart</h2>
                <p>We care because you deserve</p>
                <div class="container">
                    <h2>Electronics</h2>
                    <a href="@Url.Action("Index","Home")" class="btn btn-info" role="button">Home</a>
                    <a href="@Url.Action("Product","Products")" class="btn btn-info" role="button">Products</a>

                </div>
                <img src="~/shopping.jpg" class="img-thumbnail" alt="Cinque Terre" width="460" height="236">
            </div>
            <div class="btn-group">
                <button type="button"  class="btn btn-primary">Laptop Service</button>
                <button type="button" class="btn btn-primary">TV Service</button>
                <button type="button" class="btn btn-primary">Mobile Service</button>
                <button type="button" class="btn btn-primary">Mirowave Service</button>
            </div>
        </div>


        
    </body>
</html>
